
@import url("reset.css");
 
/* ====================================================== */
 
body { position: relative; margin: 0; background: #000; color: #ddd; font-family: "Andale mono", Monaco, Courier; font-size: 100%; }
 
body #mask { display: none; }
.shell ol { display: block; }

.shell ol {
    margin: 1em 1em 2em 1em;
    padding: 0;
}

.shell li form {
    margin-left: -1px;
}

.shell input[type=text] {
    width: 80%;
}

.shell li, .shell input[type=text] {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    background: #000;
    border: none;
    color: #bbb;
    font-family: "Andale mono", Monaco, Courier;
    font-size: 1em;
}

.shell input[type=submit] {
    visibility:hidden;
}

.shell li:before {
    content: "> ";
    color: #33C;
}

.shell form, .shell form p {
    display: inline;
}

.shell .error {
    color: #C33;
}

.shell .output {
    color: #3C3;
}