
@import url("reset.css");

/* ====================================================== */

body { position: relative; margin: 0; background: #000; color: #ddd; font-family: "Andale mono", Monaco, Courier; font-size: 15px; }

body .mask { position: absolute; top: 0; left: 0; background: transparent url(../img/bg.png) repeat 0 0; width: 100%; height: 500px; }

.shell ol { display: block; }
.shell input[type="text"] { }

.shell ol {
    margin: 2em;
    padding: 0;
}

.shell li form {
    margin-left: -1px;
}

.shell input[type=text]{
    width: 80%;
}

.shell li, .shell input[type=text] {
    line-height: 1.4em;
    position: static;
    margin: 0;
    padding: 0;
    background: #000;
    border: none;
    color: #bbb;
    font-family: "Andale mono", Monaco, Courier;
    font-size:15px;
}

.shell input[type=submit] {
    visibility:hidden;
}

.shell li:before {
    content: "> ";
}

.shell form, .shell form p {
    display: inline;
}

.shell li pre {
    display: inline;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.shell li strong { color: #666; }

.shell li .positive { display: inline; color: #0c0; }
.shell li .negative { display: inline; color: #c00; }

